
#instructions{
  opacity:1;
}

#maincontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  opacity: 0;
}

.canvasjs-chart-credit{
  display: none;
}
.canvasjs-chart-tooltip{
  display: none;
}

#buttons{
  display: block;
}

button{
  display: block;
}
