
#instructions{
  opacity:1;
}

#maincontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  opacity: 0;
}

.canvasjs-chart-credit{
  display: none;
}
.canvasjs-chart-tooltip{
  display: none;
}

#buttons{
  display: block;
}

button{
  display: block;
}

#result1{
  opacity: 0;
}

#showresults1{
  opacity: 0;
}

#table{
  width: 750px;
  margin: 0 auto;
}


table,tr,th,td{
  border: 1px solid black;

}


th,td,tr{
  text-align: center;
}

table{
  border-collapse: collapse;
}
